:root {
	--black: #000;
	--white: #fff;
	--pixelWhite: #dbdbdb;
	--whiteSmoke: #f5f5f5;
	--coronation: #ececec;
	--sugarPine: #74796e;
	--greening: #dfe4d6;
	--radicalGreen: #386a20;
	--nasuPurple: #671fda;
	--incarnadine: #b00020;
	--textBoxStart: 16px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
	text-size-adjust: 100%;
}

body {
	padding: 0;
	line-height: normal;
	font-size: 16px;
	color: var(--black);
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.components {
	display: flex;
	gap: 20px;
}

.textboxes,
.switches {
	display: grid;
	gap: 20px;
}
