:root {
	--black: #000;
	--white: #fff;
	
	--gluonGrey: #1c1b1f;
	--ishtar: #49454f;
	--pinkChampagne: #e7e0ec;
	--ironMaiden: #d7d0dc;
	--driedLavenderFlowers: 121, 116, 126;
	--nasuPurple: 103, 31, 218;
	--incarnadine: #b00020;
	--textBoxStart: 16px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
	text-size-adjust: 100%;
}

body {
	padding: 0;
	line-height: normal;
	font-size: 16px;
	color: var(--black);
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.components {
	display: grid;
	gap: 20px;
}

.textboxes,
.switches,
.checkboxes,
.radios {
	display: grid;
	gap: 20px;
}
